In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import sklearn.datasets
import sklearn.decomposition as de
de.__all__

['DictionaryLearning',
 'FastICA',
 'IncrementalPCA',
 'KernelPCA',
 'MiniBatchDictionaryLearning',
 'MiniBatchNMF',
 'MiniBatchSparsePCA',
 'NMF',
 'PCA',
 'SparseCoder',
 'SparsePCA',
 'dict_learning',
 'dict_learning_online',
 'fastica',
 'non_negative_factorization',
 'randomized_svd',
 'sparse_encode',
 'FactorAnalysis',
 'TruncatedSVD',
 'LatentDirichletAllocation']

In [2]:
ratings_1 = pd.read_csv("../data/ml-1m/ratings.dat",
                        sep="::",
                        header=None,
                        engine='python')
ratings_1.columns = ['UserID','MovieID','Rating','Timestamp']
ratings_1

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [3]:
ratings_2_onehot = pd.get_dummies(ratings_1['MovieID'])

In [4]:
ratings_2_onehot

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
ratings_2_onehot.loc[0,1194]

0

In [7]:
ratings_2 = ratings_2_onehot.multiply(ratings_1['Rating'], axis='index')
ratings_2

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
ratings_2.loc[0,1193]

5

In [11]:
ratings_3 = pd.concat([ratings_2, ratings_1['UserID']], axis=1)
ratings_3 = ratings_3.groupby(by='UserID').sum()
ratings_3

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0,0,2,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6040,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
ratings_4 = ratings_3.replace({3:0,2:0,1:0})
ratings_4

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
ratings_4 = ratings_3.replace({5:2, 4:1, 3:0, 2:-1, 1:-2})
ratings_4

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
ratings_4.loc[1,513]

0

In [42]:
model = sklearn.decomposition.TruncatedSVD(n_components=100)
ratings_4_svd = model.fit_transform(ratings_4)
ratings_4_svd

array([[ 2.97232984e+00, -6.71909648e-01,  7.66181604e-01, ...,
        -1.46878253e-01, -3.06610718e-01, -6.74318924e-02],
       [ 4.47476788e+00, -1.58918792e+00,  4.28370291e-01, ...,
         8.12080648e-01, -1.38505361e-01,  4.42861490e-01],
       [ 2.56884299e+00, -1.28489047e+00,  2.18385282e-01, ...,
         4.80568961e-01, -4.26998579e-01,  2.71709503e-01],
       ...,
       [ 5.15594457e-01,  1.12630786e-01,  2.65755542e-01, ...,
         2.91465555e-02, -4.53241321e-01,  6.66824487e-02],
       [ 3.80144361e+00,  2.33299084e+00,  3.08262060e+00, ...,
        -5.99597633e-01, -2.90831178e-03,  6.41176628e-01],
       [ 8.42884378e+00,  7.98220405e+00, -3.66746781e-01, ...,
         1.89748496e-01, -2.01714971e-01,  1.02158979e+00]])

In [43]:
user_prefs = model.inverse_transform(ratings_4_svd)
user_prefs_pd = pd.DataFrame(user_prefs, columns=ratings_4.columns)
user_prefs_pd.index = ratings_4.index
user_prefs_pd

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,1.662162,-0.037688,0.072411,-0.020168,-0.044265,-0.074283,-0.034306,0.031488,0.024931,0.012429,...,-0.067804,0.004295,-0.042572,-0.011358,-0.019355,0.159052,-0.060807,0.011157,0.029596,0.012699
2,0.230095,0.038625,0.062663,0.021150,0.058522,-0.060380,0.003059,-0.014124,-0.001213,0.213656,...,0.051285,0.013820,0.043218,0.039654,-0.019297,0.028544,-0.032005,-0.024056,-0.010672,-0.065806
3,0.217184,0.089614,0.077378,-0.008834,0.050202,0.156721,0.011960,0.003061,-0.008082,0.134509,...,0.001811,-0.017424,-0.012674,-0.011391,-0.019143,0.096090,0.109087,0.023398,0.007563,0.004632
4,0.049722,-0.048843,0.110272,0.009171,0.008547,0.060168,-0.018621,-0.013557,0.002897,-0.014014,...,0.014155,-0.004241,0.025048,0.036106,0.004030,0.067253,0.111599,0.013247,0.009766,0.023991
5,0.469545,0.025244,0.060936,0.000520,-0.020109,-0.219921,-0.050913,-0.019608,0.029329,-0.028809,...,0.031106,-0.025087,0.016440,0.035610,-0.054085,-0.105238,-0.002594,-0.022334,-0.032981,-0.154205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,-0.147237,-0.505354,0.252494,-0.038141,-0.029258,0.347393,0.122627,-0.029902,-0.186081,0.266332,...,-0.141297,-0.057672,-0.014179,-0.147442,0.134956,-0.381051,0.642986,0.198837,0.030968,0.079486
6037,0.376036,0.089921,0.168994,-0.013785,0.046947,0.107502,0.013860,0.031363,-0.031669,-0.196899,...,-0.010557,0.006999,0.006290,0.046435,0.018373,0.046978,-0.140005,-0.017321,-0.006642,-0.057698
6038,0.061585,0.066688,-0.009673,-0.004456,0.041368,0.073378,0.054845,0.002579,-0.023092,0.064538,...,-0.013854,-0.003294,-0.008401,-0.037559,0.014656,0.017063,0.030038,0.015210,-0.009284,0.019006
6039,0.441993,-0.047046,0.017946,0.031016,-0.020756,0.036542,-0.053041,-0.012446,0.002503,-0.109214,...,0.013790,0.008413,-0.009907,-0.004358,-0.009052,-0.236932,-0.092046,-0.011249,-0.002133,-0.076047
6040,0.246822,-0.126102,-0.057076,-0.039656,-0.053885,0.053659,0.015420,0.030668,-0.016580,-0.021399,...,0.060899,-0.001139,0.031511,-0.048484,0.078144,-0.016359,0.320889,0.022843,0.079461,-0.019039

In [44]:
user_history = pd.DataFrame()
user_history.index = user_prefs_pd.index
for (idx,row), i in zip(ratings_3.iterrows(), range(10000000000000)):
    user_history.loc[idx, 'history'] = row[row>0].index.values
user_history

                                                  history
UserID
1       [1, 48, 150, 260, 527, 531, 588, 594, 595, 608...
2       [21, 95, 110, 163, 165, 235, 265, 292, 318, 34...
3       [104, 260, 480, 552, 590, 593, 648, 653, 733, ...
4       [260, 480, 1036, 1097, 1196, 1198, 1201, 1210,...
5       [6, 16, 24, 29, 32, 34, 36, 39, 41, 47, 50, 52...
...                                                   ...
6036    [4, 6, 11, 16, 17, 21, 24, 25, 26, 28, 29, 30,...
6037    [17, 32, 34, 47, 50, 111, 198, 235, 247, 260, ...
6038    [232, 356, 920, 1079, 1136, 1148, 1183, 1210, ...
6039    [48, 107, 111, 199, 260, 282, 364, 471, 588, 6...
6040    [1, 17, 25, 29, 30, 32, 34, 36, 39, 45, 50, 58...

[6040 rows x 1 columns]

In [45]:
# 用户的电影偏好性
user_prefs_movieid = pd.DataFrame()
user_prefs_movieid.index = user_prefs_pd.index
for (idx,row),(idx2, row2), i in zip(user_prefs_pd.iterrows(),user_history.iterrows(), range(1000000000)):
    # print(row.argsort()[-30:].values[::-1])
    row_top = [str(x+1) for x in row.argsort()[-30:].values[::-1] if x+1 not in row2['history']]
    user_prefs_movieid.loc[idx, 'pref'] = ",".join(row_top)
user_prefs_movieid

                                                     pref
UserID
1       514,1849,1105,1179,2899,582,859,964,575,2600,1...
2       107,310,580,1105,347,1136,467,1107,444,1849,23...
3       1108,254,1109,1060,1107,2652,1121,1200,1296,11...
4       1109,1849,1289,254,1125,1149,467,1775,972,1026...
5       2786,2375,594,2203,2652,2749,580,2401,1018,248...
...                                                   ...
6036    528,1849,1067,2489,2558,1105,108,709,107,1109,...
6037    864,803,580,514,594,844,310,3239,1130,1132,848...
6038    1067,709,347,1134,1060,1121,1095,690,1008,1009...
6039    2204,254,853,844,859,839,843,852,1107,850,1161...
6040    863,108,864,852,580,714,528,514,1156,859,1130,...

[6040 rows x 1 columns]

In [46]:
user_prefs_movieid.to_csv("../data/ml-1m/user_prefs_2.csv")

In [ ]:
# svd++思想

In [52]:
users_1 = pd.read_csv("../data/ml-1m/users.dat",
                        sep="::",
                        header=None,
                        engine='python')
users_1.columns = ['UserID','Gender','Age','Occupation','Zip-code']
users_1.index = users_1['UserID']
users_1['Gender'] = users_1['Gender'].replace({"F":1,"M":0})
users_1

        UserID  Gender  Age  Occupation Zip-code
UserID
1            1       1    1          10    48067
2            2       0   56          16    70072
3            3       0   25          15    55117
4            4       0   45           7    02460
5            5       0   25          20    55455
...        ...     ...  ...         ...      ...
6036      6036       1   25          15    32603
6037      6037       1   45           1    76006
6038      6038       1   56           1    14706
6039      6039       1   45           0    01060
6040      6040       0   25           6    11106

[6040 rows x 5 columns]

In [53]:
ratings_5 = pd.concat([ratings_4, users_1[['Gender','Age','Occupation']]], axis=1)
ratings_5

,1,2,3,4,5,6,7,8,9,10,...,3946,3947,3948,3949,3950,3951,3952,Gender,Age,Occupation
UserID,,,,,,,,,,,,,,,,,,,,,
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,56,16
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,15
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,45,7
5,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,25,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,25,15
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,45,1
6038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,56,1
6039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,45,0
6040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,6

In [57]:
model = sklearn.decomposition.TruncatedSVD(n_components=100)
ratings_5_svd = model.fit_transform(ratings_5)
user_prefs = model.inverse_transform(ratings_5_svd)
user_prefs_pd = pd.DataFrame(user_prefs, columns=ratings_5.columns)
user_prefs_pd.index = ratings_5.index
user_prefs_pd

C:\conda\venv\torch\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

,1,2,3,4,5,6,7,8,9,10,...,3946,3947,3948,3949,3950,3951,3952,Gender,Age,Occupation
UserID,,,,,,,,,,,,,,,,,,,,,
1,1.584982,0.049898,0.090778,-0.006392,-0.023145,-0.045344,-0.035432,0.043246,0.009959,0.021007,...,0.007604,-0.019669,0.158345,-0.030185,0.027186,0.033119,-0.014378,0.166184,1.016325,10.002365
2,0.147862,0.054107,0.115610,0.016135,0.024210,0.041772,-0.014296,-0.020666,0.002865,0.337374,...,0.051785,-0.014757,-0.094298,-0.030169,-0.003055,-0.010995,-0.036053,0.293198,56.002545,15.988120
3,0.253943,0.064795,0.084418,-0.000574,0.018423,0.197297,0.038991,0.003695,0.013781,0.127751,...,-0.005433,-0.022825,-0.039727,0.121209,0.034602,0.016690,-0.008457,0.166089,25.000708,14.998146
4,0.068390,-0.033996,0.091646,0.011907,-0.012924,0.120633,-0.026702,-0.011854,0.009450,-0.037172,...,0.028864,-0.002048,0.030392,0.123315,0.001025,0.025622,-0.010663,0.142635,44.994544,7.005090
5,0.580168,-0.019577,0.173279,0.015967,0.023189,-0.092212,-0.025324,-0.003192,0.044096,-0.039671,...,0.039971,-0.047176,-0.031572,0.047171,-0.025975,0.002777,-0.127168,0.230670,25.004830,19.990777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,-0.228693,-0.340471,0.057414,-0.011169,-0.141382,0.464992,0.037494,-0.028393,-0.197131,0.085664,...,-0.093083,0.113682,-0.529504,0.463967,0.178561,-0.001663,-0.036301,0.668431,24.990572,15.022173
6037,0.475999,0.102393,0.177247,-0.038941,0.074339,0.186181,0.019894,0.025066,-0.038239,-0.126013,...,0.046479,0.007284,0.018362,-0.101823,-0.012853,0.001786,-0.085016,0.602968,45.006106,0.992350
6038,0.072252,0.014620,-0.026360,-0.002461,0.032928,0.041699,0.065323,-0.003679,-0.018955,0.066210,...,-0.020440,0.020647,0.005667,0.022316,0.008651,0.004680,0.035023,0.549571,55.993372,1.009340
6039,0.332889,0.004296,-0.044838,-0.015070,-0.016827,-0.175085,-0.034717,-0.011729,-0.004149,-0.090314,...,0.001457,0.005181,-0.200148,-0.103706,-0.008162,-0.017405,-0.030362,0.625293,45.001393,0.009974
6040,0.287714,-0.102738,-0.207117,-0.013307,-0.037307,0.046590,0.058546,0.037392,0.020887,-0.116689,...,-0.046329,0.064088,0.020093,0.403019,0.038023,0.097664,-0.051361,0.110064,24.996792,6.009419

In [58]:
user_prefs_pd = user_prefs_pd.iloc[:,:-3]
user_prefs_pd

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,1.584982,0.049898,0.090778,-0.006392,-0.023145,-0.045344,-0.035432,0.043246,0.009959,0.021007,...,-0.050529,-0.006443,-0.025844,0.007604,-0.019669,0.158345,-0.030185,0.027186,0.033119,-0.014378
2,0.147862,0.054107,0.115610,0.016135,0.024210,0.041772,-0.014296,-0.020666,0.002865,0.337374,...,0.037903,0.016551,0.022165,0.051785,-0.014757,-0.094298,-0.030169,-0.003055,-0.010995,-0.036053
3,0.253943,0.064795,0.084418,-0.000574,0.018423,0.197297,0.038991,0.003695,0.013781,0.127751,...,-0.003039,-0.017655,-0.035312,-0.005433,-0.022825,-0.039727,0.121209,0.034602,0.016690,-0.008457
4,0.068390,-0.033996,0.091646,0.011907,-0.012924,0.120633,-0.026702,-0.011854,0.009450,-0.037172,...,0.008112,-0.004896,0.017952,0.028864,-0.002048,0.030392,0.123315,0.001025,0.025622,-0.010663
5,0.580168,-0.019577,0.173279,0.015967,0.023189,-0.092212,-0.025324,-0.003192,0.044096,-0.039671,...,0.036515,-0.025535,0.040397,0.039971,-0.047176,-0.031572,0.047171,-0.025975,0.002777,-0.127168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,-0.228693,-0.340471,0.057414,-0.011169,-0.141382,0.464992,0.037494,-0.028393,-0.197131,0.085664,...,-0.107747,-0.039585,0.004721,-0.093083,0.113682,-0.529504,0.463967,0.178561,-0.001663,-0.036301
6037,0.475999,0.102393,0.177247,-0.038941,0.074339,0.186181,0.019894,0.025066,-0.038239,-0.126013,...,-0.031360,0.010764,0.010956,0.046479,0.007284,0.018362,-0.101823,-0.012853,0.001786,-0.085016
6038,0.072252,0.014620,-0.026360,-0.002461,0.032928,0.041699,0.065323,-0.003679,-0.018955,0.066210,...,-0.006450,0.011223,-0.008610,-0.020440,0.020647,0.005667,0.022316,0.008651,0.004680,0.035023
6039,0.332889,0.004296,-0.044838,-0.015070,-0.016827,-0.175085,-0.034717,-0.011729,-0.004149,-0.090314,...,-0.004735,0.007921,-0.001093,0.001457,0.005181,-0.200148,-0.103706,-0.008162,-0.017405,-0.030362
6040,0.287714,-0.102738,-0.207117,-0.013307,-0.037307,0.046590,0.058546,0.037392,0.020887,-0.116689,...,0.071845,0.015374,0.028367,-0.046329,0.064088,0.020093,0.403019,0.038023,0.097664,-0.051361

In [59]:
# 用户的电影偏好性
user_prefs_movieid = pd.DataFrame()
user_prefs_movieid.index = user_prefs_pd.index
for (idx, row), (idx2, row2), i in zip(user_prefs_pd.iterrows(), user_history.iterrows(), range(1000000000)):
    # print(row.argsort()[-30:].values[::-1])
    row_top = [str(x + 1) for x in row.argsort()[-30:].values[::-1] if x + 1 not in row2['history']]
    user_prefs_movieid.loc[idx, 'pref'] = ",".join(row_top)
user_prefs_movieid.to_csv("../data/ml-1m/user_prefs_3.csv")
user_prefs_movieid

                                                     pref
UserID
1       514,1849,2899,1105,1179,859,582,2163,2600,964,...
2       107,580,310,1105,347,467,1136,577,1107,3342,57...
3       1108,254,1109,1060,1121,1168,1107,1200,2652,12...
4       1109,1849,1289,254,1149,1125,1026,972,1775,467...
5       2786,2375,1124,2203,594,580,2652,1018,2489,240...
...                                                   ...
6036    1105,528,2489,1849,1117,1149,1067,2945,310,255...
6037    514,803,580,864,1026,594,848,844,1132,1105,112...
6038    1067,709,347,1134,1060,1121,690,3509,1105,1095...
6039    2204,254,844,839,853,1107,859,714,850,843,1121...
6040    852,863,864,514,108,1156,580,714,528,1130,1110...

[6040 rows x 1 columns]

In [61]:
model.components_

array([[ 9.95659987e-03,  6.96602665e-04, -1.45863744e-05, ...,
         7.59824265e-03,  9.65270774e-01,  2.32596101e-01],
       [ 1.50364781e-02,  9.05094036e-04,  1.55022323e-03, ...,
        -5.25974962e-03, -2.47959309e-01,  9.53528165e-01],
       [ 7.83452070e-02,  6.81449547e-03, -8.93693507e-05, ...,
        -6.67674023e-05, -7.39971557e-02, -1.74381374e-01],
       ...,
       [ 3.75553299e-02,  1.90715296e-02, -1.16122545e-02, ...,
        -1.89218738e-04, -2.69272807e-04, -1.14333662e-03],
       [ 2.30351108e-02,  1.56395209e-02,  2.05615808e-02, ...,
        -1.59476256e-02,  1.32410364e-03, -2.37042309e-04],
       [-5.54224173e-02,  1.41693698e-02, -3.23116607e-02, ...,
         5.82839812e-02, -4.66589186e-04,  1.13954798e-03]])

In [62]:
components_pd = pd.DataFrame(model.components_, columns=ratings_5.columns)
components_pd

,1,2,3,4,5,6,7,8,9,10,...,3946,3947,3948,3949,3950,3951,3952,Gender,Age,Occupation
0,0.009957,0.000697,-0.000015,-0.000167,0.000013,0.003283,0.000847,0.000013,-0.000112,0.001901,...,-0.000310,0.000138,0.002047,0.001301,0.000155,0.000187,0.001499,0.007598,0.965271,0.232596
1,0.015036,0.000905,0.001550,-0.000563,-0.000934,0.007994,0.000548,0.000098,0.000217,0.004714,...,-0.000933,-0.000108,0.003809,0.003021,0.000594,-0.000117,0.001498,-0.005260,-0.247959,0.953528
2,0.078345,0.006814,-0.000089,-0.000622,0.000664,0.038032,0.005429,0.000770,-0.002599,0.021629,...,-0.002408,0.002145,0.018060,0.016946,0.002974,0.000809,0.011331,-0.000067,-0.073997,-0.174381
3,-0.045525,-0.026113,-0.014756,-0.004505,-0.012241,-0.022705,-0.015926,-0.002344,-0.003770,-0.048134,...,-0.003697,0.001953,-0.018558,0.012929,0.000310,0.001762,0.001249,-0.000459,-0.011722,0.039880
4,-0.004724,0.028660,0.012542,0.008069,0.012888,-0.037571,0.014762,0.004163,0.008444,0.019164,...,0.005409,0.002905,-0.021059,-0.024958,-0.000350,-0.000837,-0.009479,-0.001539,-0.009401,0.042781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.086178,0.011904,0.018635,-0.005559,0.008435,-0.023632,0.001753,0.006319,-0.002164,-0.042236,...,-0.003829,0.012367,-0.034488,0.008848,0.002384,0.006594,-0.014224,-0.010609,-0.000744,0.000056
96,0.036020,-0.025325,-0.031365,-0.004888,-0.020599,0.000286,-0.013945,-0.001808,0.016394,0.018186,...,0.005206,0.003247,0.023040,-0.008070,0.000599,-0.000092,0.014209,0.006751,0.000942,-0.000687
97,0.037555,0.019072,-0.011612,0.006737,-0.014391,0.020231,-0.004121,0.004172,-0.002218,-0.039853,...,-0.001148,-0.001531,-0.020775,0.047516,0.001002,0.005649,-0.012135,-0.000189,-0.000269,-0.001143
98,0.023035,0.015640,0.020562,0.011889,0.007784,0.032754,0.017507,-0.002133,-0.000017,-0.013004,...,0.000576,0.000914,0.015513,0.015001,0.006614,0.000203,-0.001891,-0.015948,0.001324,-0.000237
99,-0.055422,0.014169,-0.032312,-0.007065,0.000385,-0.049446,0.010442,0.002441,-0.008677,0.006029,...,0.004213,-0.001383,-0.036952,-0.022032,0.000828,-0.009231,-0.019450,0.058284,-0.000467,0.001140

In [64]:
components_corr = components_pd.corr().abs()
components_corr

,1,2,3,4,5,6,7,8,9,10,...,3946,3947,3948,3949,3950,3951,3952,Gender,Age,Occupation
1,1.000000,0.048344,0.054747,0.085395,0.006047,0.080754,0.004215,0.056150,0.004477,0.041736,...,0.130189,0.030185,0.044674,0.005124,0.045415,0.041181,0.127585,0.098411,0.004265,0.010415
2,0.048344,1.000000,0.054141,0.051907,0.287164,0.122244,0.121295,0.329377,0.010527,0.042823,...,0.061963,0.104508,0.065037,0.060698,0.044584,0.037406,0.180208,0.135707,0.012890,0.022463
3,0.054747,0.054141,1.000000,0.195636,0.443741,0.104065,0.156330,0.174950,0.060718,0.092269,...,0.264443,0.059687,0.082602,0.051757,0.124856,0.034521,0.034951,0.003645,0.004766,0.003152
4,0.085395,0.051907,0.195636,1.000000,0.250021,0.024343,0.103138,0.200889,0.067254,0.175145,...,0.086472,0.018915,0.015072,0.118412,0.002305,0.002004,0.021961,0.125682,0.004752,0.008564
5,0.006047,0.287164,0.443741,0.250021,1.000000,0.132708,0.408221,0.434969,0.000709,0.083282,...,0.030202,0.004615,0.106604,0.028268,0.201404,0.029291,0.030525,0.083574,0.014032,0.016236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3951,0.041181,0.037406,0.034521,0.002004,0.029291,0.024683,0.083720,0.089733,0.205807,0.072671,...,0.099432,0.227356,0.199452,0.530115,0.309481,1.000000,0.412847,0.125128,0.010832,0.030416
3952,0.127585,0.180208,0.034951,0.021961,0.030525,0.035592,0.110592,0.073735,0.113971,0.009383,...,0.327641,0.199948,0.466027,0.451871,0.331928,0.412847,1.000000,0.043852,0.003708,0.009224
Gender,0.098411,0.135707,0.003645,0.125682,0.083574,0.069750,0.224715,0.105309,0.083438,0.019575,...,0.128167,0.107745,0.020274,0.066110,0.099179,0.125128,0.043852,1.000000,0.027947,0.004724
Age,0.004265,0.012890,0.004766,0.004752,0.014032,0.007882,0.000838,0.007180,0.005916,0.001404,...,0.006141,0.012225,0.001075,0.004443,0.018695,0.010832,0.003708,0.027947,1.000000,0.006713
Occupation,0.010415,0.022463,0.003152,0.008564,0.016236,0.013455,0.000647,0.009631,0.025540,0.008155,...,0.029151,0.037138,0.003488,0.009034,0.026652,0.030416,0.009224,0.004724,0.006713,1.000000

In [67]:
movie_sim_pd = pd.DataFrame()
movie_sim_pd.index = components_corr.index
for (idx, row), i in zip(components_corr.iterrows(), range(1000000000)):
    row_top = [str(x+1) for x in row.argsort()[-6:-1].values[::-1]]
    movie_sim_pd.loc[idx, 'corr'] = ",".join(row_top)
movie_sim_pd.to_csv("../data/ml-1m/movie_sim_pd.csv")
movie_sim_pd

                                corr
1             2868,2139,2038,353,135
2              1681,307,627,268,1850
3                 3185,767,500,5,264
4               296,475,1357,370,190
5             344,2994,2715,1328,767
...                              ...
3951           3470,66,608,3518,2394
3952        3614,3610,3627,3631,3632
Gender             840,17,28,827,775
Age         1635,2264,2799,1323,1714
Occupation    1714,2799,649,159,1323

[3709 rows x 1 columns]

In [69]:
movies_1 = pd.read_csv("../data/ml-1m/movies.dat",
                        sep="::",
                        header=None,
                        engine='python',
                       encoding='ISO8859')
movies_1.columns = ['MovieID','Title','Genres']
movies_1.index = movies_1['MovieID']
movies_1

,MovieID,Title,Genres
MovieID,,,
1,1,Toy Story (1995),Animation|Children's|Comedy
2,2,Jumanji (1995),Adventure|Children's|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama
5,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3948,3948,Meet the Parents (2000),Comedy
3949,3949,Requiem for a Dream (2000),Drama
3950,3950,Tigerland (2000),Drama
3951,3951,Two Family House (2000),Drama
3952,3952,"Contender, The (2000)",Drama|Thriller

In [78]:
for (idx, row), i in zip(movie_sim_pd.iterrows(), range(100000000000000)):
    row_name = [ movies_1.loc[int(id),'Title'] for id in row['corr'].split(",") if int(id) in movies_1.index]
    # print(row_name)
    movie_sim_pd.loc[idx, 'name'] = movies_1.loc[idx,'Title'] if idx in movies_1.index else 'None'
    movie_sim_pd.loc[idx, 'corrnames'] = ";;".join(row_name)
movie_sim_pd.to_csv("../data/ml-1m/movie_sim_name_pd.csv")
movie_sim_pd

,corr,names,name,corrnames
1,"2868,2139,2038,353,135","Fright Night Part II (1989);;Secret of NIMH, T...",Toy Story (1995),"Fright Night Part II (1989);;Secret of NIMH, T..."
2,"1681,307,627,268,1850",Mortal Kombat: Annihilation (1997);;Three Colo...,Jumanji (1995),Mortal Kombat: Annihilation (1997);;Three Colo...
3,"3185,767,500,5,264","Snow Falling on Cedars (1999);;Grass Harp, The...",Grumpier Old Men (1995),"Snow Falling on Cedars (1999);;Grass Harp, The..."
4,"296,475,1357,370,190",Pulp Fiction (1994);;In the Name of the Father...,Waiting to Exhale (1995),Pulp Fiction (1994);;In the Name of the Father...
5,"344,2994,2715,1328,767","Ace Ventura: Pet Detective (1994);;City, The (...",Father of the Bride Part II (1995),"Ace Ventura: Pet Detective (1994);;City, The (..."
...,...,...,...,...
3951,"3470,66,608,3518,2394",Dersu Uzala (1974);;Lawnmower Man 2: Beyond Cy...,Two Family House (2000),Dersu Uzala (1974);;Lawnmower Man 2: Beyond Cy...
3952,"3614,3610,3627,3631,3632",Honeymoon in Vegas (1992);;Roustabout (1964);;...,"Contender, The (2000)",Honeymoon in Vegas (1992);;Roustabout (1964);;...
Gender,"840,17,28,827,775",House Arrest (1996);;Sense and Sensibility (19...,None,House Arrest (1996);;Sense and Sensibility (19...
Age,"1635,2264,2799,1323,1714","Ice Storm, The (1997);;We're No Angels (1989);...",None,"Ice Storm, The (1997);;We're No Angels (1989);..."
Occupation,"1714,2799,649,159,1323",Never Met Picasso (1996);;Problem Child 2 (199...,None,Never Met Picasso (1996);;Problem Child 2 (199...